<ul
  class="hidden sm:flex pt-4 border-r h-full flex-col justify-evenly gap-2 w-max"
>
  <li class="flex justify-between gap-4 pr-2">
    Woman's fashion
    <img src="assets/icons/drop-down-right.svg" alt="dropdwon right" />
  </li>

  <li class="flex justify-between gap-4 pr-2">
    Men's fashion
    <img src="assets/icons/drop-down-right.svg" alt="dropdwon right" />
  </li>
  <li>Electronics</li>
  <li>Home & Lifestyle</li>
  <li>Medicine</li>
  <li>Sport & Outdoor</li>
  <li>Baby's & Tyos</li>
  <li>Groceries & Pets</li>
  <li>Healthy & Beauty</li>
</ul>
