<div class="font-poppins text-primary w-full">
  @if (label) {
    <label [for]="label" class="">{{ label }}</label>
  }
  <input
    [id]="label"
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    class="w-full p-2"
    [class]="border + ' ' + bg"
    [value]="initialValue"
  />

  <!-- Display validation errors if any -->
  <div *ngIf="control.invalid && control.touched" class="text-red-500 p-2">
    <small *ngIf="control.errors?.['required']">{{ label }} is required</small>
    <small *ngIf="control.errors?.['minlength']"
      >Minimum length is not met</small
    >
    <small *ngIf="control.errors?.['maxlength']">Maximum length exceeded</small>
  </div>
</div>
