<app-container>
  <div class="flex flex-col gap-20">
    <div class="flex flex-row sm:gap-4">
      <app-sider class="flex-grow sm:pr-4" />
      <app-discount-banner class="sm:pt-4" />
    </div>
    <app-today-flash-sale />
    <button
      type="button"
      class="py-2 px-6 bg-primary-red text-secondary font-poppins max-w-max self-center"
    >
      View All Product
    </button>
    <hr />
    <app-browse-by-category />

    <hr />
    <app-best-selling-products />
  </div>
</app-container>
