<div class="">
  <!-- <app-product-card [image]="product().image" [discount]="" /> -->
  <app-product-card [product]="product()" />
  <p class="">{{ product().name }}</p>

  <div class="flex items-center gap-3">
    <p class="text-primary-red">
      {{ product().price | currency: "USD" : "symbol" : "1.0-0" }}
    </p>
    <app-rating-bar [rating]="product().rating" class="inline-block" />

    <p class="pl-4 text-primary-gray inline-block my-auto text-sm">
      {{ "(" + product().stock + ")" }}
    </p>
  </div>
  @if (product().colors?.length) {
    <div class="flex gap-2 mt-2">
      @for (color of product().colors; track color.colorCode) {
        <span
          class="w-5 h-5 rounded-full border border-gray-300"
          [style.backgroundColor]="color.colorCode"
          [attr.title]="color.colorName"
        ></span>
      }
    </div>
  }
</div>
