<div class="mb-4">
  <!-- <label [for]="label" class="">{{ label }}</label> -->
  <textarea
    [id]="label"
    [formControl]="control"
    [placeholder]="placeholder"
    class="w-full p-2"
    [class]="bg"
    [value]="initialValue"
    [rows]="rows"
  >
  </textarea>
  <!-- Display validation errors if any -->
  <div *ngIf="control.invalid && control.touched" class="text-red-500 p-2">
    <small *ngIf="control.errors?.['required']">{{ label }} is required</small>
    <small *ngIf="control.errors?.['minlength']"
      >Minimum length is not met</small
    >
    <small *ngIf="control.errors?.['maxlength']">Maximum length exceeded</small>
  </div>
</div>
