<app-category-header
  headerTitle="Our Products"
  title="Explore Our Products"
  class=""
>
  <app-next-and-previous ngProjectAs="right" />

  <div ngProjectAs="body" class="flex gap-4 justify-evenly flex-wrap">
    @for (product of products$ | async; track product.id) {
      <!-- <app-today-flash-sale-item [product]="product" /> -->
      <app-explore-our-products-item [product]="product" />
    }
  </div>

  <button
    ngProjectAs="footer"
    type="button"
    class="w-full py-2 px-6 bg-primary-red text-secondary font-poppins max-w-max self-center"
  >
    View All Product
  </button>
</app-category-header>
