<div
  class="flex flex-col w-full h-full bg-secondary-bg text-secondary items-center"
>
  <div class="flex justify-between text-left gap-2 p-4">
    <!-- <div class="flex flex-col justify-evenly pl-banner-l"> -->
    <div class="flex flex-grow flex-col justify-evenly">
      <div class="flex items-center gap-2">
        <img src="assets/images/home/apple.svg" alt="banner image" />
        iPhone 14 Series
      </div>
      <p class="font-inter text-banner-lg">Up to 10% off Voucher</p>
      <p>
        <span class="border-b"> Shop Now </span>
        <img
          class="inline-block pl-1"
          src="assets/icons/arrow-right.svg"
          alt="arrow right icon"
        />
      </p>
    </div>

    <img
      class="flex-grow-0 max-w-[50%] h-auto"
      src="assets/images/home/banner_img.svg"
      alt="banner image"
    />
  </div>
  <div class="flex gap-2">
    <img src="assets/icons/ellipse-none.svg" alt="ellipse-none image" />
    <img src="assets/icons/ellipse-none.svg" alt="ellipse-none image" />

    <img src="assets/icons/ellipse-red.svg" alt="ellipse-red image" />
    <img src="assets/icons/ellipse-none.svg" alt="ellipse-none image" />
    <img src="assets/icons/ellipse-none.svg" alt="ellipse-none image" />
  </div>
</div>
